In [24]:
import pandas as pd
import numpy as np

In [140]:
df = pd.read_csv('labels - data.csv')

In [142]:
df.tail()

,video_name (Naming: warrior2_0000000000_katja1.avi),labels,Processed?
26,warrior2_correct_1.avi,NaN,yes
27,warrior2_correct_2.avi,head_sideways,yes
28,warrior2_correct_3.avi,NaN,yes
29,warrior2_correct_4.avi,NaN,yes
30,warrior2_correct_5.avi,NaN,yes

In [143]:
df = df.iloc[:, :-1]
df.head()

,video_name (Naming: warrior2_0000000000_katja1.avi),labels
0,warrior2_knee1_1.avi,front_knee_acute
1,warrior2_knee1_2.avi,front_knee_acute
2,warrior2_knee1_3.avi,front_knee_acute torso_forward
3,warrior2_knee1_4.avi,front_knee_acute head_sideways
4,warrior2_knee1_5.avi,front_knee_acute torso_forward

In [144]:
tags_dict = {'arms':0, 
        'front_knee_obtuse': 1,
        'front_knee_acute':2, 
        'head_sideways': 3,
        'hips_angled':4,
        'narrow_step':5,
        'shoulders_up':6,
        'torso_forward':7,
        'torso_backward':8,
            'wide_step':9}

In [145]:
def string_to_tensor(y, tags_dict):
    """This function creates tensors as np arrays
    y - is tags column of the datafram and path is path to dict"""

    try:
        tags = y.split(' ')
    except:
        return np.zeros(10)   

    tags_tensor = np.zeros(10)

    for label in tags:
        if label in tags_dict.keys():
            tags_tensor[tags_dict[label]] = 1
    
    return tags_tensor

In [146]:
df["y_true"] = df["labels"].apply(lambda x: string_to_tensor(x, tags_dict))

In [147]:
df.head()

,video_name (Naming: warrior2_0000000000_katja1.avi),labels,y_true
0,warrior2_knee1_1.avi,front_knee_acute,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,warrior2_knee1_2.avi,front_knee_acute,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,warrior2_knee1_3.avi,front_knee_acute torso_forward,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ..."
3,warrior2_knee1_4.avi,front_knee_acute head_sideways,"[0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,warrior2_knee1_5.avi,front_knee_acute torso_forward,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ..."